[Unit]
Description=GTU-ITR R&D & IIC Portal Service
After=network.target

[Service]
Type=simple
User=gtu-itr
WorkingDirectory=/home/gtu-itr/iic-cell-gtu-itr-
Environment="PATH=/home/gtu-itr/iic-cell-gtu-itr-/venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin"
ExecStart=/home/gtu-itr/iic-cell-gtu-itr-/venv/bin/gunicorn --bind 0.0.0.0:5000 --workers 3 --timeout 120 wsgi:app
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
