[Unit]
Description=Cloudflare Tunnel for GTU-ITR Server & Portal (aceglory.in)
After=network.target gtu-portal.service gtu-server-ui.service
Wants=gtu-portal.service gtu-server-ui.service

[Service]
Type=simple
User=gtu-itr
WorkingDirectory=/home/gtu-itr/iic-cell-gtu-itr-
ExecStart=/home/gtu-itr/iic-cell-gtu-itr-/venv/bin/cloudflared --config /home/gtu-itr/iic-cell-gtu-itr-/.cloudflared/config.yml --logfile /home/gtu-itr/iic-cell-gtu-itr-/logs/tunnel.log --loglevel info tunnel run 0db9da8f-002e-4e4c-8f89-c5d548652de7
StandardOutput=journal
StandardError=journal
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
